@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla";
}

#container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(148, 38%, 91%);
}

#form {
  border: 1px solid black;
  padding: 24px;
  background-color: hsl(0, 0%, 100%);
}

.name-container {
  display: flex;
  gap: 5px;
}
